 
  <section id="section-jumbotron" class="jumbotron jumbotron-fluid text-white d-flex justify-content-center align-items-center">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top">
      <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" id="navScrollspy">
          <li class="nav-item">
            <a class="nav-link" href="#section-jumbotron">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-description">SOBRE NOSOTRAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-trailer">EVENTOS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-features">QUIERO SER PARTE DE</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-reviews">TESTIMONIOS</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container text-center">
      <h3 class="display-1 text-light text-uppercase">Women In Tech</h3>
    </div>
  </section>
  <div class="container">
    <section id="section-description">
      <h2 class="display-4 text-center">Sobre nosotras</h2>
      <p>Crear una comunidad de muejeres que trabajan en áreas de TI en el Banco Colpatria.
        El Banco Colpatria es una empresa comprometida con la igualdad de género, que promueve la vinculación de mujeres en áreas de TI. 
        Colpatria Tech Women es una comunidad de mujeres que hacen parte de áreas de tecnología, que quieren compartir experiencias, 
        intercambiar conocimientos y definir estrategias de integración.</p>
 
    </section>
    <section id="section-trailer">
      <h2 class="display-4 text-center">Eventos</h2>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Uq5JnknTTK8"></iframe>
      </div>
    </section>
    <section id="section-features">
      <h2 class="display-4 text-center">Quiero ser parte de</h2>
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mb-5">
          <div class="h1">
            <i class="fa fa-paint-brush mb-4 text-info" aria-hidden="true"></i>
          </div>
          <h3 class="h4 mb-4 text-center">Enseñando</h3>
          <p>Easily enhance your photos with a selection of editing tools, filters and effects.</p>
          <a href="#" class="btn btn-sm btn-info mt-auto">Read more...</a>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mb-5">
          <div class="h1">
            <i class="fa fa-video-camera mb-4 text-info" aria-hidden="true"></i>
          </div>
          <h3 class="h4 mb-4 text-center">Foros y debates</h3>
          <p>With Cameo you get dedicated video effects like slow motion, timelapse and transitions.</p>
          <a href="#" class="btn btn-sm btn-info mt-auto">Read more...</a>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mb-5">
          <div class="h1">
            <i class="fa fa-instagram mb-4 text-info" aria-hidden="true"></i>
          </div>
          <h3 class="h4 mb-4 text-center">Papel de la mujer en TI</h3>
          <p>You can easily share your photos with your friends and the rest of the world on Instragram.</p>
          <a href="#" class="btn btn-sm btn-info mt-auto">Read more...</a>
        </div>
        <div class="col-12 col-sm-6 col-lg-3 d-flex flex-column align-items-center mb-5">
          <div class="h1">
            <i class="fa fa-mobile mb-4 text-info" aria-hidden="true"></i>
          </div>
          <h3 class="h4 mb-4 text-center">Trabajo social</h3>
          <p>Cameo works on all platforms and all devices no matter the size of your screen.</p>
          <a href="#" class="btn btn-sm btn-info mt-auto">Read more...</a>
        </div>
      </div>
    </section>
    <section id="section-reviews">
      <h2 class="display-4 text-center">Testimonios</h2>
      <div class="row">
        <div class="col-12 col-md-6 col-xl-3">
          <blockquote class="blockquote p-3">
            <p>
              <i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>This is the best camera app I have ever tried. I highly recommend Cameo!
              <i class="fa fa-fw fa-quote-right text-secondary"
                aria-hidden="true"></i>
            </p>
            <footer class="blockquote-footer">Marc Johnson
              <time datetime="2017-06-15T14:35">(June 15 2017 14:35)</time>
            </footer>
          </blockquote>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <blockquote class="blockquote p-3">
            <p>
              <i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>I have never been able to take pictures in the darkness with good results before. Now I can with Cameo
              and I am so happy about that.
              <i class="fa fa-fw fa-quote-right text-secondary" aria-hidden="true"></i>
            </p>
            <footer class="blockquote-footer">Hanna Eastwood
              <time datetime="2017-07-09T19:12">(July 09 2017 19:12)</time>
            </footer>
          </blockquote>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <blockquote class="blockquote p-3">
            <p>
              <i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>I have tried many different camera apps on the market, but with Cameo I am able to use the editing tools,
              filters and effects that I want in a creative and easy way.
              <i class="fa fa-fw fa-quote-right text-secondary"
                aria-hidden="true"></i>
            </p>
            <footer class="blockquote-footer">Anna Foster
              <time datetime="2017-09-01T11:19">(September 01 2017 11:19)</time>
            </footer>
          </blockquote>
        </div>
        <div class="col-12 col-md-6 col-xl-3">
          <blockquote class="blockquote p-3">
            <p>
              <i class="fa fa-fw fa-quote-left text-secondary" aria-hidden="true"></i>I use the cloud storage feature of Cameo to have a backup of all my photos and videos. I find that feature
              incredibly valuable.
              <i class="fa fa-fw fa-quote-right text-secondary" aria-hidden="true"></i>
            </p>
            <footer class="blockquote-footer">Tim Stevens
              <time datetime="2017-08-12T08:43">(August 12 2017 8:43)</time>
            </footer>
          </blockquote>
        </div>
      </div>
    </section>
  </div>



